DB_HOST=localhostxxxxxxxxx
DB_NAME=xxxxxxxxxxxxxxxx
DB_USER=postgres
DB_PASSWORD=xxxxxxxxxxx
DB_PORT=543x

GEMINI_API_KEY= AQ.Abxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPEN_AI_API_KEY= sk-prxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENROUTER_API_KEY = sk-or-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEWS_API_KEY = 9fxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PEXELS_API_KEY = SN3xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx